<?xml version="1.0"?>
<module xmlns="http://schema.slothsoft.net/farah/module" xmlns:sfm="http://schema.slothsoft.net/farah/module">
  <!--
Farah Module Manifest

Module: chat
Vendor: slothsoft
Farah ID: farah://slothsoft@chat
Composer ID: slothsoft/chat

Homepage: http://farah.slothsoft.net/modules/chat
Packagist: https://packagist.org/packages/slothsoft/chat
GitHub: https://github.com/Faulo/slothsoft-chat

Llo
-->
  <default-configuration/>
  <assets>
    <fragment name="default">
      <use-template ref="xsl/default"/>
      <use-document ref="data/fetch"/>
      <use-stylesheet ref="css/default"/>
      <use-script ref="js/Control"/>
      <include-fragment ref="//core/DOM"/>
      <include-fragment ref="//sse/script"/>
    </fragment>
    <fragment name="archive">
      <use-template ref="xsl/archive"/>
      <use-document ref="data/archive"/>
      <use-stylesheet ref="css/default"/>
    </fragment>
  </assets>
</module>
