<?xml version="1.0" encoding="UTF-8"?>
<module>
	<fragment name="default">
		<template name="default" />
		<data name="fetch" />
		<style name="default" />
		<script name="Control" />
		<struc name="/core/DOM" />
		<struc name="/sse/script" />
	</fragment>

	<fragment name="archive">
		<template name="archive" />
		<data name="archive" />
		<style name="default" />
	</fragment>
</module>
